#head {
    background-color: black;
    text-align: center;
    color: white;
    padding: auto;
    margin: auto;
    justify-content: center;
    border-radius: 15px;
}

#list {
    background-color: burlywood;
    margin: 15px;
    padding: 2px;
    justify-content: center;
    border-radius: 7px;
    
}

#burg {
    background-color:black ;
    

}